/* Reset */

*{
	margin: 0;
	padding: 0;
}

/* General */
 body{
 	font-family: 'Lato', sans-serif;
 	width: 100%;
 }
 .panel-left{
 	background: url(../images/bg.png);
 	background-size: cover;
 	position: relative;
 	z-index: -1;
 	height: 100vh;
 }
 .panel-left::after{
 	background: #303743;
 	content: "";
 	height: 100%;
 	width: 100%;
 	left: 0;
 	top: 0;
 	position: absolute;
 	z-index: 1;
 	opacity: 0.9;
 }
 .panel-left h1{
 	text-align: center;
 	z-index: 2;
 	position: relative;
 }
 .panel-left h1 img{
 	height: 200px;
 	margin-top: 35%;
 }
 .panel-right{
 	font-family: 'Lato', sans-serif;
 	padding: 0px 75px;
 	background: #F7F7F7;
 	position: relative;
 	height: 100vh;
 }
 .panel-right h1{
 	color: #3e4b5b;
 	font-weight: 700;
 	margin-top: 15%;
 	text-align: center;
 }
 .panel-right h6{
 	color: #3e4b5b;
 	font-weight: 700;
 	text-align: center;
 	margin-bottom: 80px;
 }
 .panel-right .form-group label{
 	color: #3e4b5b;
 	font-size: 16px;
 	font-family: 'Lato', sans-serif;
 	font-weight: 600;
 }
 .panel-right .form-group input{
 	background: #fff;
 	border: 0px;
 	border-radius: 8px;
 	padding: 25px 10px;
 	-webkit-box-shadow: -1px 1px 5px 0px rgba(62,75,91,0.11);
	-moz-box-shadow: -1px 1px 5px 0px rgba(62,75,91,0.11);
	box-shadow: -1px 1px 5px 0px rgba(62,75,91,0.11);
	margin-top: 8px;
 }
 .panel-right .form-group a{
 	color: #2F47C2;
 }
 .panel-right .form-group .btn-primary{
 	background: #2F47C2;
 	width: 100%;
 	font-size: 16px;
 	font-weight: 700;
 	padding: 10px;
 	-webkit-box-shadow: 5px 5px 5px 0px rgba(47,72,194,0.18);
	-moz-box-shadow: 5px 5px 5px 0px rgba(47,72,194,0.18);
	box-shadow: 5px 5px 5px 0px rgba(47,72,194,0.18);
	margin-top: 20px;
 }
 .panel-right h5{
 	color: #3e4b5b;
 	font-weight: 700;
 	position: absolute;
 	bottom: 30px;
 	left: 40%;
 }
.panel-right .table{
	margin: 0px auto 20px;
	width: 70%;
}
.panel-right .table th{
	padding: 0px 15px;
}
.panel-right .table th input{
	background: #fff;
 	border: 0px;
 	border-radius: 8px;
 	padding: 25px 10px;
 	-webkit-box-shadow: -1px 1px 5px 0px rgba(62,75,91,0.11);
	-moz-box-shadow: -1px 1px 5px 0px rgba(62,75,91,0.11);
	box-shadow: -1px 1px 5px 0px rgba(62,75,91,0.11);
	margin-top: 8px;
	text-align: center;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: 0px;
}
/* Responsive */

@media screen and (max-width: 1200px) {
	.panel-left h1 img{
	 	height: 200px;
	 	margin-top: 55%;
	}
	.panel-right h5{
 	color: #3e4b5b;
 	font-weight: 700;
 	position: absolute;
 	bottom: 30px;
 	left: 35%;
 	}
}

@media screen and (max-width: 992px) {
	.panel-left h1 img{
	 	height: 200px;
	 	margin-top: 60%;
	}
	.panel-right h5{
 	color: #3e4b5b;
 	font-weight: 700;
 	position: absolute;
 	bottom: 30px;
 	left: 30%;
 	}
}

@media screen and (max-width: 768px) {
	.panel-left{
		max-height: 500px;
		margin-top: -20px;
	}
	.panel-left h1 img{
	 	height: 150px;
	 	margin-top: 25%;
	}
	.panel-right{
		padding: 10px 50px;
		height: 100%; 
	}
	.panel-right h1{
		margin-top: 5%;
	}
	.panel-right h5{
		margin:60px 0px 0px;
		position: relative;
		text-align: center;
		left: 0%;
	}
}
@media screen and (max-width: 600px) {
	.panel-left{
		max-height: 400px;
		margin-top: -20px;
	}
	.panel-left h1 img{
	 	height: 100px;
	 	margin-top: 45%;
	}
	.panel-right{
		padding: 10px 30px;
		height: 100%; 
	}
	.panel-right h1{
		margin-top: 5%;
	}
	.panel-right h6{
		margin-bottom: 50px;
	}
	.panel-right h5{
		margin:60px 0px 0px;
		position: relative;
		text-align: center;
		left: 0%;
	}
	.panel-right .table{
		width: 100%;
	}
	.panel-right .table th{
		padding: 0px 10px;
	}
}